@import screen and (min-width: 481px);

a {
	cursor: pointer;
}

#application {
	min-width: 1100px;
}

/**
 * header
 */
#header {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 40px;
	background-color: #222;
	z-index: 10;
}
#header .inner {
	width: 1100px; height: 40px;
	margin: 0 auto;
}
#header .inner:after {
	content: ""; clear: both; display: block;
}

/*** logo ***/
#logo {
	float: left;
	display: block;
	width: 200px; height: 40px;
}
#logo img {
	height: 30px;
	display: block;
	margin: 5px auto;
}

/*** global-nav ***/
#global-nav {
	float: right;
	width: 400px; height: 40px;
}
#global-nav:after {
	content: ""; display: block; clear: both;
}
#global-nav .nav-li {
	float: left;
	width: 80px; height: 40px;
	font-size: 12px; line-height: 40px;
	color: #aaa; text-align: center;
	display: block;
	transition: all 0.3s ease 0s;
}
#global-nav .nav-li:hover {
	color: #fff;
	background-color: #000;
}

/**
 * content
 */
#content {
	width: 100%;
}
.title {
	font-size: 55px;
	text-align: center;
	font-weight: normal;
	margin-top: 50px;
}
.description {
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
	color: #777;
}

/***  main visual ***/
.main-visual {
	position: relative;
	width: 100%;
	height: 300px;
	background-image: url(../../images/main_visual/bg.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 40px;
}
.main-visual .chara {
	position: absolute;
	width: 100%;
	height: 300px;
	background-image: url(../../images/main_visual/char.png);
	background-size: auto 100%;
	background-position: right center;
	background-repeat: no-repeat; 
}
.main-visual .box {
	position: absolute;
	width: 100%;
	height: 300px;
}
.main-visual .box .inner {
	width: 1100px;
	height: 300px;
	margin: 0 auto;
}
.main-visual .box .inner img {
	height: 160px;
	display: block;
	margin-top: 70px;
	margin-left: 20px;
}

/*** profile ***/
.profile {
	width: 1100px;
	margin: 0 auto;
}
.profile:after {
	content: "";
	display: block;
	clear: both;
}
.card {
	float: left;
	width: 350px;
	height: 400px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 10px #ccc;
	overflow: hidden;
	margin-right: 25px;
}
.card .header {
	width: 350px;
	height: 200px;
	background-image: url(../../images/main_visual/1.jpg);
	background-size: cover;
	background-position: center;
}
.card .icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url(../../images/profile/yuki540.png);
	background-size: cover;
	margin: 0 auto;
	margin-top: -50px;
	border: solid 5px #fff;
	box-sizing: border-box;
}
.card h2 {
	font-size: 25px;
	text-align: center;
}
.card p {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 5px;
	font-size: 12px;
	color: #999;
}

.like {
	float: left;
	width: 350px;
	height: 400px;
	overflow: hidden;
	margin-right: 25px;
}
.like h3 {
	width: 100%;
	background-color: #e9e9e9;
	padding: 0 5px;
	box-sizing: border-box;
	margin-top: 20px;
}
.like h3:first-child { margin-top: 0; }
.like span {
	display: inline-block;
	padding: 5px 10px;
	background-color: #4c4c4c;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
}

.story {
	float: left;
	width: 350px;
	height: 400px;
	overflow: hidden;
}
.story h2 {
	width: 100%;
	font-size: 20px;
	color: #fff;
	background-color: #4c4c4c;
	padding: 0 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.story span {
	font-size: 18px;
	color: #fff;
	background-color: #999;
}

/*** product ***/
.product {
	width: 1100px;
	margin: 0 auto;
}
.product:after {
	content: "";
	display: block;
	clear: both;
}
.product .product-li {
	position: relative;
	float: left;
	width: 350px;
	height: 500px;
	display: block;
	transition: all 0.3s ease 0s;
	margin-top: 30px;
	margin-right: 25px;
	overflow: hidden;
}
.product .product-li:hover {
	opacity: 0.7;
}
.product .product-li:nth-child(3n) {
	margin-right: 0;
}
.product .product-li img {
	width: 350px;
	display: block;
	box-sizing: border-box;
	border: solid 1px 
}
.product .product-li h3 {
	font-size: 26px;
	color: #4c4c4c;
	margin-top: 5px;
	border-bottom: solid 1px #4c4c4c;
}
.product .product-li h5 {
	font-size: 14px;
	text-align: right;
	color: #4c4c4c;
	margin: 5px 0;
}
.product .product-li .desc {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 10px;
}
.product .product-li span {
	display: inline-block;
	padding: 5px 10px;
	background-color: #4c4c4c;
	font-size: 10px;
	color: #fff;
	border-radius: 3px;
	margin-left: 5px;
}
.product .product-li .datetime {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 11px;
	color: #999;
}

/*** news ***/
.news {
	width: 600px;
	margin: 30px auto;
	border-left: solid 10px #ccc;
	box-sizing: border-box;
	padding: 30px 0;
}
.news p {
	font-size: 16px;
	padding-left: 30px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	display: block;
}

/*** contact ***/
.contact {
	width: 300px;
	height: 100px;
	margin: 0 auto;
}
.contact:after {
	content: "";
	display: block;
	clear: both;
}
.contact .icon {
	float: left;
	width: 100px;
	height: 100px;
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s ease 0s;
}
.contact .icon:hover {
	transform: scale(1.1);
}
.twitter { background-image: url(../../images/contact/twitter.png); }
.github  { background-image: url(../../images/contact/github.png); }
.qiita   { background-image: url(../../images/contact/qiita.png); }

/**
 * footer
 */
#footer {
	width: 100%;
	padding: 50px 0;
	background-color: #222;
	margin-top: 50px;
}
#footer p {
	font-size: 12px;
	color: #fff;
	text-align: center;
}
