@keyframes slide_open
  0%
    width: 0%
  100%
    width: 100%
@keyframes slide_close
  0%
    width: 100%
  100%
    width: 0%

@keyframes opacity
  0%
    opacity: 1
  100%
    opacity: 0
@keyframes load_animate_1
  0%
    transform: scale(1)
  100%
    transform: scale(3)
@keyframes load_animate_2
  0%
    transform: scale(1)
  100%
    transform: scale(4)
