@media screen and (max-width: 480px) {
  #history {
    display: none;

    .history-li {
      width: calc(100% - 20px);
      background-color: #fff;
      margin: 30px auto;
      padding: 10px;
      box-sizing: border-box;

      .version {
        font-size: 20px;
        color: #888;
        margin-bottom: 10px;

        span { margin-right: 5px; }
      }

      .theme {
        font-size: 30px;
        color: #91322B;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      .description {
        font-size: 15px;
        padding: 0 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      img {
        display: block;
        width: 90%;
        margin: 20px auto;
        box-shadow: 0 0 10px #ccc;
      }
    }
    .history-li:first-child { margin-top: 60px; }
  }
}
