@media screen and (max-width: 480px) {
  #page-area {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
    display: none;
    
    .page-close-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: all 0.35s ease 0s;
    }
    .page-close-btn:before,
    .page-close-btn:after {
      content: "";
      display: block;
      position: absolute;
      top: 24.5px;
      left: 5px;
      width: 40px;
      height: 1px;
      background-color: #7E3D34;
    }
    .page-close-btn:before { transform: rotate(45deg); }
    .page-close-btn:after { transform: rotate(-45deg); }
    .page-close-btn:hover { background-color: #7E3D34; }
    .page-close-btn:hover:before,
    .page-close-btn:hover:after { background-color: #fff; }

    .page-box {
      position: absolute;
      top: 0;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: #eee;
      overflow: auto;

      .inner {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  #page-area[data-href="profile"],
  #page-area[data-href="history"],
  #page-area[data-href="product"],
  #page-area[data-href="memories"],
  #page-area[data-href="news"] {
    .page-box { animation: page-area__show-page 0.5s ease 0s forwards; }
  }

  #page-area[data-href="profile"] #profile { display: block; }
  #page-area[data-href="history"] #history { display: block; }
  #page-area[data-href="product"] #product { display: block; }
  #page-area[data-href="memories"] #memories { display: block; }
  #page-area[data-href="news"] #news { display: block; }

  #page-area[data-href=""] {
    .page-box { animation: page-area__hidden-page 0.5s ease 0s forwards; }
  }
}

@keyframes page-area__show-page {
  0%   { left: -100%; }
  100% { left: 0; }
}
@keyframes page-area__hidden-page {
  0%   { left: 0%; }
  100% { left: -100%; }
}
