@keyframes slide_open {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes slide_close {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes opacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes load_animate_1 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(3); } }

@keyframes load_animate_2 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(4); } }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Nagomi';
  color: #4c4c4c; }

img {
  vertical-align: bottom; }

a {
  color: #0096ff;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

input, textarea {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  border-radius: 0; }

iframe {
  border: none; }

@font-face {
  font-family: 'Boku';
  src: url("font/Boku.ttf") format("truetype");
  src: url("font/Boku.otf") format("opentype"); }

@font-face {
  font-family: 'Chibit';
  src: url("font/chibit.ttf") format("truetype");
  src: url("font/chibit.otf") format("opentype"); }

@font-face {
  font-family: 'Nagomi';
  src: url("font/nagomi.ttf") format("truetype");
  src: url("font/nagomi.otf") format("opentype"); }

@media (min-width: 751px) {
  #load-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10; }
    #load-view .load-view {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #load-view .load-view div {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      #load-view .load-view .load-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
        width: 300px;
        height: 300px;
        font-size: 30px;
        text-align: center;
        line-height: 300px;
        animation: opacity 1.5s ease 0s infinite; }
      #load-view .load-view .load-icon:after,
      #load-view .load-view .load-icon:before {
        position: absolute;
        top: 100px;
        left: 100px;
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 1px #666;
        box-sizing: border-box; }
      #load-view .load-view .load-icon:after {
        animation: load_animate_1 1.5s ease 0s infinite; }
      #load-view .load-view .load-icon:before {
        animation: load_animate_2 1.5s ease 0s infinite; }
    #load-view .load-view-0 {
      background-color: #fff; }
    #load-view .load-view-1 div {
      background-image: url(../images/main-visual/pc_1.jpg); }
    #load-view .load-view-2 div {
      background-image: url(../images/main-visual/pc_2.jpg); }
    #load-view .load-view-3 div {
      background-image: url(../images/main-visual/pc_3.jpg); }
    #load-view .load-view-4 div {
      background-image: url(../images/main-visual/pc_4.jpg); }
  #load-view[data-state="true"] .load-view-0 {
    animation: slide_close 1s ease 0s forwards; }
  #load-view[data-state="true"] .load-view-1 {
    animation: slide_close 1s ease 0.5s forwards; }
  #load-view[data-state="true"] .load-view-2 {
    animation: slide_close 1s ease 1s forwards; }
  #load-view[data-state="true"] .load-view-3 {
    animation: slide_close 1s ease 1.5s forwards; }
  #load-view[data-state="true"] .load-view-4 {
    animation: slide_close 1s ease 2s forwards; } }

@media (max-width: 750px) {
  #load-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10; }
    #load-view .load-view {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #load-view .load-view div {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      #load-view .load-view .load-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
        width: 300px;
        height: 300px;
        font-size: 30px;
        text-align: center;
        line-height: 300px;
        animation: opacity 1.5s ease 0s infinite; }
      #load-view .load-view .load-icon:after,
      #load-view .load-view .load-icon:before {
        position: absolute;
        top: 100px;
        left: 100px;
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 1px #666;
        box-sizing: border-box; }
      #load-view .load-view .load-icon:after {
        animation: load_animate_1 1.5s ease 0s infinite; }
      #load-view .load-view .load-icon:before {
        animation: load_animate_2 1.5s ease 0s infinite; }
    #load-view .load-view-0 {
      background-color: #fff; }
    #load-view .load-view-1 div {
      background-image: url(../images/main-visual/sp_1.jpg); }
    #load-view .load-view-2 div {
      background-image: url(../images/main-visual/sp_2.jpg); }
    #load-view .load-view-3 div {
      background-image: url(../images/main-visual/sp_3.jpg); }
    #load-view .load-view-4 div {
      background-image: url(../images/main-visual/sp_4.jpg); }
  #load-view[data-state="true"] .load-view-0 {
    animation: slide_close 0.75s ease 0s forwards; }
  #load-view[data-state="true"] .load-view-1 {
    animation: slide_close 0.75s ease 0.5s forwards; }
  #load-view[data-state="true"] .load-view-2 {
    animation: slide_close 0.75s ease 1s forwards; }
  #load-view[data-state="true"] .load-view-3 {
    animation: slide_close 0.75s ease 1.5s forwards; }
  #load-view[data-state="true"] .load-view-4 {
    animation: slide_close 0.75s ease 2s forwards; } }
