@keyframes slide_open {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes slide_close {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes opacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes load_animate_1 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(3); } }

@keyframes load_animate_2 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(4); } }

@keyframes main_visual_animate {
  0% {
    border: solid 350px #fff; }
  40% {
    border: solid 0 #fff; }
  100% {
    border: solid 20px #fff; } }

@keyframes main_visual_animate_sp {
  0% {
    border: solid 300px #fff; }
  40% {
    border: solid 0 #fff; }
  100% {
    border: solid 30px #fff; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes line1 {
  0% {
    left: 100%; }
  100% {
    left: -200px; } }

@keyframes line2 {
  0% {
    right: 100%; }
  100% {
    right: -200px; } }

@keyframes line3 {
  0% {
    top: -100%; }
  100% {
    top: 200px; } }

@keyframes line4 {
  0% {
    top: 100%; }
  100% {
    top: -200px; } }

@keyframes line1_sp {
  0% {
    left: 100%; }
  100% {
    left: -260px; } }

@keyframes line2_sp {
  0% {
    right: 100%; }
  100% {
    right: -260px; } }

@keyframes line3_sp {
  0% {
    top: -100%; }
  100% {
    top: 260px; } }

@keyframes line4_sp {
  0% {
    top: 100%; }
  100% {
    top: -260px; } }

@keyframes show_nav {
  0% {
    opacity: 0;
    margin-top: 45px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes show_nav_label {
  0% {
    width: 0; }
  100% {
    width: 100px; } }

@keyframes sns {
  0% {
    margin-left: -80px; }
  100% {
    margin-left: 0; } }

@keyframes sns_sp {
  0% {
    margin-top: 60px; }
  100% {
    margin-top: 0; } }

@keyframes sp_menu {
  0% {
    opacity: 0;
    border-radius: 50%;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    border-radius: 0;
    transform: scale(1); } }

@keyframes scroll_icon {
  0% {
    top: 7px;
    opacity: 0; }
  60% {
    top: 27px;
    opacity: 1; }
  100% {
    top: 27px; } }

@keyframes scroll_icon_sp {
  0% {
    opacity: 0;
    top: 10px; }
  100% {
    opacity: 1;
    top: 50px; } }

@keyframes bg {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes global_nav_show {
  0% {
    left: 100%; }
  100% {
    left: 200px; } }

@keyframes global_nav_hidden {
  0% {
    left: 200px; }
  100% {
    left: 100%; } }

@keyframes global_nav_label {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes close_show {
  0% {
    left: -200px; }
  100% {
    left: 0; } }

@keyframes close_btn_show {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Nagomi';
  color: #4c4c4c; }

img {
  vertical-align: bottom; }

a {
  color: #0096ff;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

input, textarea {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  border-radius: 0; }

iframe {
  border: none; }

@font-face {
  font-family: 'Boku';
  src: url("font/Boku.ttf") format("truetype");
  src: url("font/Boku.otf") format("opentype"); }

@font-face {
  font-family: 'Chibit';
  src: url("font/chibit.ttf") format("truetype");
  src: url("font/chibit.otf") format("opentype"); }

@font-face {
  font-family: 'Nagomi';
  src: url("font/nagomi.ttf") format("truetype");
  src: url("font/nagomi.otf") format("opentype"); }

@media (min-width: 751px) {
  #header .main-visual {
    position: relative;
    opacity: 0;
    overflow: hidden; }
    #header .main-visual .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-image: url(../images/main-visual/pc-main-visual.jpg);
      background-size: cover;
      background-position: center; }
    #header .main-visual .overray {
      position: absolute;
      width: 100%;
      height: 100%;
      border: solid 350px #fff;
      box-sizing: border-box; }
    #header .main-visual .logo {
      position: absolute;
      top: 60px;
      left: 60px;
      width: 220px;
      height: 220px;
      overflow: hidden; }
      #header .main-visual .logo .icon {
        position: absolute;
        top: 0;
        width: 220px;
        height: 220px;
        background-color: rgba(0, 0, 0, 0.1);
        background-image: url(../images/_logo.png);
        background-size: 100%;
        opacity: 0; }
      #header .main-visual .logo .line:nth-child(1),
      #header .main-visual .logo .line:nth-child(2) {
        position: absolute;
        width: 220px;
        height: 1px;
        background-color: #fff;
        z-index: 1; }
      #header .main-visual .logo .line:nth-child(3),
      #header .main-visual .logo .line:nth-child(4) {
        position: absolute;
        width: 1px;
        height: 220px;
        background-color: #fff;
        z-index: 1; }
      #header .main-visual .logo .line:nth-child(1) {
        top: 0;
        left: 100%; }
      #header .main-visual .logo .line:nth-child(2) {
        bottom: 0;
        right: 100%; }
      #header .main-visual .logo .line:nth-child(3) {
        left: 0;
        top: -100%; }
      #header .main-visual .logo .line:nth-child(4) {
        right: 0;
        top: 100%; }
    #header .main-visual .global-nav {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 480px;
      height: 45px;
      overflow: hidden; }
      #header .main-visual .global-nav .nav-li {
        position: relative;
        float: left;
        font-size: 20px;
        width: 120px;
        height: 45px;
        line-height: 45px;
        display: block;
        text-align: center;
        background-color: #fff;
        margin-top: 45px;
        opacity: 0; }
        #header .main-visual .global-nav .nav-li span {
          margin-right: 10px; }
      #header .main-visual .global-nav .nav-li:after {
        position: absolute;
        bottom: 5px;
        left: 10px;
        width: 0;
        height: 15px;
        content: "";
        display: block;
        opacity: 0.2;
        transition: all 0.35s ease 0s; }
      #header .main-visual .global-nav .nav-li:last-child {
        margin: 0; }
      #header .main-visual .global-nav .nav-li:hover:after {
        height: 30px; }
      #header .main-visual .global-nav .nav-li:nth-child(1) {
        color: #ed588d; }
      #header .main-visual .global-nav .nav-li:nth-child(1):after {
        background-color: #ed588d; }
      #header .main-visual .global-nav .nav-li:nth-child(2) {
        color: #86c351; }
      #header .main-visual .global-nav .nav-li:nth-child(2):after {
        background-color: #86c351; }
      #header .main-visual .global-nav .nav-li:nth-child(3) {
        color: #ff8100; }
      #header .main-visual .global-nav .nav-li:nth-child(3):after {
        background-color: #ff8100; }
      #header .main-visual .global-nav .nav-li:nth-child(4) {
        color: #00d1fb; }
      #header .main-visual .global-nav .nav-li:nth-child(4):after {
        background-color: #00d1fb; }
    #header .main-visual .global-nav:after {
      content: "";
      display: block;
      clear: both; }
    #header .main-visual .sns-box {
      position: absolute;
      bottom: 30px;
      left: 30px; }
      #header .main-visual .sns-box .sns-li {
        float: left;
        width: 80px;
        height: 30px;
        display: block;
        overflow: hidden;
        margin-right: 10px;
        transition: all 0.35s ease 0s; }
        #header .main-visual .sns-box .sns-li .fa {
          width: 80px;
          height: 30px;
          font-size: 30px;
          text-align: center;
          color: #fff;
          line-height: 30px;
          margin-left: -80px;
          background-color: rgba(0, 0, 0, 0.3); }
      #header .main-visual .sns-box .sns-li:hover {
        background-color: #111;
        border-radius: 5px; }
    #header .main-visual .sns-box:after {
      content: "";
      display: block;
      clear: both; }
    #header .main-visual .scroll-icon {
      position: absolute;
      bottom: 100px;
      left: 50%;
      margin-left: -15px;
      box-sizing: border-box;
      width: 30px;
      height: 50px;
      border-radius: 30px;
      border: solid 3px #fff;
      box-shadow: 0 0 5px #aaa, 0 0 5px #aaa inset; }
      #header .main-visual .scroll-icon div {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px #aaa;
        animation: scroll_icon 1.5s ease-out 0s infinite; }
  #header[data-state="true"] .main-visual {
    animation: fadein 1s ease-out 2.5s forwards; }
    #header[data-state="true"] .main-visual .bg {
      animation: bg 7s ease 0s infinite; }
    #header[data-state="true"] .main-visual .overray {
      animation: main_visual_animate 1.4s ease-out 2.5s forwards; }
    #header[data-state="true"] .main-visual .logo .icon {
      animation: fadein 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(1) {
      animation: line1 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(2) {
      animation: line2 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(3) {
      animation: line3 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(4) {
      animation: line4 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(1) {
      animation: show_nav 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(1):after {
      animation: show_nav_label 1.5s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(2) {
      animation: show_nav 0.75s ease 3.5s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(2):after {
      animation: show_nav_label 1.5s ease 3.5s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(3) {
      animation: show_nav 0.75s ease 3.6s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(3):after {
      animation: show_nav_label 1.5s ease 3.6s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(4) {
      animation: show_nav 0.75s ease 3.7s forwards; }
    #header[data-state="true"] .main-visual .global-nav .nav-li:nth-child(4):after {
      animation: show_nav_label 1.5s ease 3.7s forwards; }
    #header[data-state="true"] .main-visual .sns-box .twitter .fa {
      animation: sns 0.5s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .sns-box .github .fa {
      animation: sns 0.5s ease 3.6s forwards; } }

@media (min-width: 751px) {
  #load-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10; }
    #load-view .load-view {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #load-view .load-view div {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      #load-view .load-view .progress-bar {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2.5px;
        width: 100%;
        height: 5px;
        background-color: #eee; }
        #load-view .load-view .progress-bar .bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 5px;
          background-color: #619EC8;
          transition: all 0.5s ease 0s; }
      #load-view .load-view .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -125px;
        margin-top: -125px;
        width: 250px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.3);
        background-image: url(../images/tenshi.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat; }
    #load-view .load-view-mask {
      background-color: rgba(0, 0, 0, 0.1); }
    #load-view .load-view-0 {
      background-color: #fff; }
    #load-view .load-view-1 div {
      background-image: url(../images/main-visual/pc_1.jpg); }
    #load-view .load-view-2 div {
      background-image: url(../images/main-visual/pc_2.jpg); }
    #load-view .load-view-3 div {
      background-image: url(../images/main-visual/pc_3.jpg); }
    #load-view .load-view-4 div {
      background-image: url(../images/main-visual/pc_4.jpg); }
  #load-view[data-state="true"] {
    animation: slide_close 1s ease 2.5s forwards; }
    #load-view[data-state="true"] .load-view-0 {
      animation: slide_close 1s ease 0s forwards; }
    #load-view[data-state="true"] .load-view-1 {
      animation: slide_close 1s ease 0.5s forwards; }
    #load-view[data-state="true"] .load-view-2 {
      animation: slide_close 1s ease 1s forwards; }
    #load-view[data-state="true"] .load-view-3 {
      animation: slide_close 1s ease 1.5s forwards; }
    #load-view[data-state="true"] .load-view-4 {
      animation: slide_close 1s ease 2s forwards; } }

@media (max-width: 750px) {
  #header .main-visual {
    position: relative;
    overflow: hidden;
    opacity: 0; }
    #header .main-visual .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-image: url(../images/main-visual/sp-main-visual.jpg);
      background-size: cover;
      background-position: center top; }
    #header .main-visual .overray {
      position: absolute;
      width: 100%;
      height: 100%;
      border: solid 300px #fff;
      box-sizing: border-box; }
    #header .main-visual .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -150px;
      margin-top: -150px;
      width: 300px;
      height: 300px;
      overflow: hidden; }
      #header .main-visual .logo .icon {
        position: absolute;
        top: 0;
        width: 300px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.3);
        background-image: url(../images/_logo.png);
        background-size: 100%;
        opacity: 0; }
      #header .main-visual .logo .line:nth-child(1),
      #header .main-visual .logo .line:nth-child(2) {
        position: absolute;
        width: 300px;
        height: 3px;
        background-color: #fff;
        z-index: 1; }
      #header .main-visual .logo .line:nth-child(3),
      #header .main-visual .logo .line:nth-child(4) {
        position: absolute;
        width: 3px;
        height: 300px;
        background-color: #fff;
        z-index: 1; }
      #header .main-visual .logo .line:nth-child(1) {
        top: 0;
        left: 100%; }
      #header .main-visual .logo .line:nth-child(2) {
        bottom: 0;
        right: 100%; }
      #header .main-visual .logo .line:nth-child(3) {
        left: 0;
        top: -100%; }
      #header .main-visual .logo .line:nth-child(4) {
        right: 0;
        top: 100%; }
  #header .sns-box {
    position: absolute;
    width: 390px;
    left: 180px;
    bottom: 60px;
    overflow: hidden; }
    #header .sns-box .sns-li {
      float: left;
      display: block;
      width: 180px;
      height: 60px;
      margin-right: 30px; }
      #header .sns-box .sns-li .fa {
        width: 100%;
        height: 100%;
        font-size: 50px;
        color: #4c4c4c;
        text-align: center;
        line-height: 60px;
        margin-top: 60px;
        background-color: rgba(255, 255, 255, 0.8); }
    #header .sns-box .sns-li:last-child {
      margin-right: 0; }
  #header .sns-box:after {
    content: "";
    display: block;
    clear: both; }
  #header .sp-menu {
    position: absolute;
    top: 29px;
    right: 29px;
    width: 120px;
    height: 120px;
    background-color: #fff;
    opacity: 0; }
    #header .sp-menu .inner {
      position: absolute;
      top: 40px;
      left: 35px;
      width: 50px;
      height: 40px; }
      #header .sp-menu .inner .line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #4c4c4c; }
      #header .sp-menu .inner .line:nth-child(1) {
        top: 0; }
      #header .sp-menu .inner .line:nth-child(2) {
        top: 19.5px; }
      #header .sp-menu .inner .line:nth-child(3) {
        bottom: 0; }
  #header .global-nav {
    position: absolute;
    top: 0;
    left: 100%;
    width: 550px;
    height: 100%;
    background-color: #fff;
    z-index: 1; }
    #header .global-nav .inner {
      position: absolute;
      top: 50%;
      left: 75px;
      margin-top: -250px;
      width: 400px;
      height: 500px; }
    #header .global-nav .nav-li {
      position: relative;
      display: block;
      width: 400px;
      height: 80px;
      margin-bottom: 60px;
      font-size: 60px;
      text-align: center;
      line-height: 60px; }
      #header .global-nav .nav-li .fa {
        margin-right: 20px; }
    #header .global-nav .nav-li:after {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 0;
      height: 40px;
      background-color: #444;
      opacity: 0.2;
      content: "";
      display: block; }
    #header .global-nav .nav-li:last-child {
      margin-bottom: 0; }
    #header .global-nav .nav-li:nth-child(1) {
      color: #ed588d; }
    #header .global-nav .nav-li:nth-child(1):after {
      background-color: #ed588d; }
    #header .global-nav .nav-li:nth-child(2) {
      color: #86c351; }
    #header .global-nav .nav-li:nth-child(2):after {
      background-color: #86c351; }
    #header .global-nav .nav-li:nth-child(3) {
      color: #ff8100; }
    #header .global-nav .nav-li:nth-child(3):after {
      background-color: #ff8100; }
    #header .global-nav .nav-li:nth-child(4) {
      color: #00d1fb; }
    #header .global-nav .nav-li:nth-child(4):after {
      background-color: #00d1fb; }
  #header .global-nav[data-state="true"] {
    animation: global_nav_show 0.5s ease 0s forwards; }
    #header .global-nav[data-state="true"] .nav-li:nth-child(1):after {
      animation: global_nav_label 1.5s ease 0s forwards; }
    #header .global-nav[data-state="true"] .nav-li:nth-child(2):after {
      animation: global_nav_label 1.5s ease 0.1s forwards; }
    #header .global-nav[data-state="true"] .nav-li:nth-child(3):after {
      animation: global_nav_label 1.5s ease 0.2s forwards; }
    #header .global-nav[data-state="true"] .nav-li:nth-child(4):after {
      animation: global_nav_label 1.5s ease 0.3s forwards; }
  #header .close {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }
    #header .close div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
      width: 100px;
      height: 100px; }
    #header .close div:after,
    #header .close div:before {
      position: absolute;
      top: 24px;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: #fff; }
    #header .close div:after {
      transform: rotate(45deg); }
    #header .close div:before {
      transform: rotate(-45deg); }
  #header .close[data-state="true"] {
    animation: close_show 0.5s ease 0s forwards; }
    #header .close[data-state="true"] div:after {
      animation: close_btn_show 0.75s ease 0.0s forwards; }
    #header .close[data-state="true"] div:before {
      animation: close_btn_show 0.75s ease 0.2s forwards; }
  #header .scroll-icon {
    position: absolute;
    bottom: 170px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 100px;
    border-radius: 40px;
    border: solid 8px #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px #777, 0 0 5px #777 inset; }
    #header .scroll-icon div {
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 0;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 5px #777;
      animation: scroll_icon_sp 2s ease 0s infinite; }
  #header[data-state="true"] .main-visual {
    animation: fadein 1s ease-out 2.3s forwards; }
    #header[data-state="true"] .main-visual .bg {
      animation: bg 5s ease 0s infinite; }
    #header[data-state="true"] .main-visual .overray {
      animation: main_visual_animate_sp 1.4s ease-out 2.3s forwards; }
    #header[data-state="true"] .main-visual .logo .icon {
      animation: fadein 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(1) {
      animation: line1_sp 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(2) {
      animation: line2_sp 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(3) {
      animation: line3_sp 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .logo .line:nth-child(4) {
      animation: line4_sp 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .sns-box .sns-li:nth-child(1) .fa {
      animation: sns_sp 0.75s ease 3.4s forwards; }
    #header[data-state="true"] .main-visual .sns-box .sns-li:nth-child(2) .fa {
      animation: sns_sp 0.75s ease 3.5s forwards; }
    #header[data-state="true"] .main-visual .sp-menu {
      animation: sp_menu 0.75s ease 3.4s forwards; } }

@media (max-width: 750px) {
  #load-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10; }
    #load-view .load-view {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #load-view .load-view div {
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      #load-view .load-view .progress-bar {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2.5px;
        width: 100%;
        height: 5px;
        background-color: #eee; }
        #load-view .load-view .progress-bar .bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 5px;
          background-color: #619EC8;
          transition: all 0.5s ease 0s; }
      #load-view .load-view .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.3);
        background-image: url(../images/tenshi.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat; }
    #load-view .load-view-mask {
      background-color: rgba(0, 0, 0, 0.1); }
    #load-view .load-view-0 {
      background-color: #fff; }
    #load-view .load-view-1 div {
      background-image: url(../images/main-visual/sp_1.jpg); }
    #load-view .load-view-2 div {
      background-image: url(../images/main-visual/sp_2.jpg); }
    #load-view .load-view-3 div {
      background-image: url(../images/main-visual/sp_3.jpg); }
    #load-view .load-view-4 div {
      background-image: url(../images/main-visual/sp_4.jpg); }
  #load-view[data-state="true"] {
    animation: slide_close 0.75s ease 2.5s forwards; }
    #load-view[data-state="true"] .load-view-0 {
      animation: slide_close 0.75s ease 0s forwards; }
    #load-view[data-state="true"] .load-view-1 {
      animation: slide_close 0.75s ease 0.5s forwards; }
    #load-view[data-state="true"] .load-view-2 {
      animation: slide_close 0.75s ease 1s forwards; }
    #load-view[data-state="true"] .load-view-3 {
      animation: slide_close 0.75s ease 1.5s forwards; }
    #load-view[data-state="true"] .load-view-4 {
      animation: slide_close 0.75s ease 2s forwards; } }
