@media screen and (min-width: 481px) {
  #memories {
    display: none;

    .memories-li {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: #fff;
      margin-bottom: 20px;
      display: block;
      transition: all 0.35s ease 0s;

      img {
        display: block;
        width: 100%;
      }
        
      h3 {
        position: relative;
        font-size: 25px;
        padding: 20px 0;
        color: #4c4c4c;
      }
      h3:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 1px;
        background-color: #91322B;
      }

      small {
        margin-top: 10px;
        font-size: 13px;
        color: #999;
        display: block;
        text-align: right;
      }
    }
    .memories-li:hover { opacity: 0.7; }
    .memories-li:first-child { margin-top: 70px; }
  }
}
