/**
 *
 * @author yuki540
 * infomation.css
 *
 */
@import screen and (max-width: 480px);
 
#infomation {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 -5px 20px #ccc;
	padding: 10px 0;
}
.info-box {  }

/*** art-hatiman ***/
.info-box .art-hatiman {
	position: relative;
	width: 100%;
	height: 400px; 
}
.info-box .art-hatiman .art-li {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%; 
	opacity: 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/*** serif ***/
.info-box .serif {
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	color: #666;
	padding: 20px 0;
}

/*** content-name ***/
.info-box .content-name {
	width: 90%;
	margin: 10px auto;
}
.content-name h2 {
	font-size: 16px;
	color: #666;
	font-weight: normal;
	border-bottom: solid 1px #e0e0e0; 
}
.content-name p {
	font-size: 12px;
	text-align: right;
	color: #888;
}

/*** staff_a ***/
.info-box .staff_a {
	width: 280px;
	padding: 10px;
	font-size: 14px;
	color: #666;
	margin: 20px auto;
	border: solid 1px #e0e0e0;
}
.staff-li {
	width: 100%;
}
.staff-li .staff-job {
	float: left;
	width: 70%;
}
.staff-li .staff-name {
	float: right;
	width: 30%;
}

/*** staff_b ***/
.info-box .staff_b {
	width: 280px;
	margin: 20px auto;
	padding: 10px;
	font-size: 14px;
	color: #666;
	border: solid 1px #e0e0e0;
}




