@include sp-layout
  #header

    .main-visual
      position: relative
      overflow: hidden
      opacity: 0
        
      .bg
        position: absolute
        width: 100%
        height: 100%
        top: 0
        background-image: url(../images/main-visual/sp-main-visual.jpg)
        background-size: cover
        background-position: center top
      .overray
        position: absolute
        width: 100%
        height: 100%
        border: solid 300px #fff
        box-sizing: border-box

      .logo
        position: absolute
        top: 50%
        left: 50%
        margin-left: -150px
        margin-top: -150px
        width: 300px
        height: 300px
        overflow: hidden

        .icon
          position: absolute
          top: 0
          width: 300px
          height: 300px
          background-color: rgba(0,0,0,0.3)
          background-image: url(../images/_logo.png)
          background-size: 100%
          opacity: 0

        .line:nth-child(1),
        .line:nth-child(2)
          position: absolute
          width: 300px
          height: 3px
          background-color: #fff
          z-index: 1

        .line:nth-child(3),
        .line:nth-child(4)
          position: absolute
          width: 3px
          height: 300px
          background-color: #fff
          z-index: 1

        .line:nth-child(1)
          top: 0
          left: 100%

        .line:nth-child(2)
          bottom: 0
          right: 100%

        .line:nth-child(3)
          left: 0
          top: -100%

        .line:nth-child(4)
          right: 0
          top: 100%

    .sns-box
      position: absolute
      width: 390px
      left: 180px
      bottom: 60px
      overflow: hidden
      
      .sns-li
        float: left
        display: block
        width: 180px
        height: 60px
        margin-right: 30px

        .fa
          width: 100%
          height: 100%
          font-size: 50px
          color: #4c4c4c
          text-align: center
          line-height: 60px
          margin-top: 60px
          background-color: rgba(255,255,255,0.8)
      .sns-li:last-child
        margin-right: 0

    .sns-box:after
      content: ""
      display: block
      clear: both

    .sp-menu
      position: absolute
      top: 29px
      right: 29px
      width: 120px
      height: 120px
      background-color: #fff
      opacity: 0

      .inner
        position: absolute
        top: 40px
        left: 35px
        width: 50px
        height: 40px

        .line
          position: absolute
          left: 0
          width: 100%
          height: 1px
          background-color: #4c4c4c

        .line:nth-child(1)
          top: 0
        .line:nth-child(2)
          top: 19.5px
        .line:nth-child(3)
          bottom: 0
    
    .global-nav
      position: fixed
      top: 0
      left: 100%
      width: 550px
      height: 100%
      background-color: #fff
      z-index: 10

      .inner
        position: absolute
        top: 50%
        left: 75px
        margin-top: -250px
        width: 400px
        height: 500px

      .nav-li
        position: relative
        display: block
        width: 400px
        height: 80px
        margin-bottom: 60px
        font-size: 60px
        text-align: center
        line-height: 60px

        .fa
          margin-right: 20px
      .nav-li:after
        position: absolute
        bottom: 5px
        left: 0
        width: 0
        height: 40px
        background-color: #444
        opacity: 0.2
        content: ""
        display: block
      .nav-li:last-child
        margin-bottom: 0

      .nav-li:nth-child(1)
        color: #ed588d
      .nav-li:nth-child(1):after
        background-color: #ed588d
      .nav-li:nth-child(2)
        color: #86c351
      .nav-li:nth-child(2):after
        background-color: #86c351
      .nav-li:nth-child(3)
        color: #ff8100
      .nav-li:nth-child(3):after
        background-color: #ff8100
      .nav-li:nth-child(4)
        color: #00d1fb
      .nav-li:nth-child(4):after
        background-color: #00d1fb
    .global-nav[data-state="true"]
      animation: global_nav_show 0.5s ease 0s forwards

      .nav-li:nth-child(1):after
        animation: global_nav_label 1.5s ease 0s forwards
      .nav-li:nth-child(2):after
        animation: global_nav_label 1.5s ease 0.1s forwards
      .nav-li:nth-child(3):after
        animation: global_nav_label 1.5s ease 0.2s forwards
      .nav-li:nth-child(4):after
        animation: global_nav_label 1.5s ease 0.3s forwards

    .close
      position: fixed
      top: 0
      left: -200px
      width: 200px
      height: 100%
      background-color: rgba(0,0,0,0.5)
      z-index: 10

      div
        position: absolute
        top: 50%
        left: 50%
        margin-left: -50px
        margin-top: -50px
        width: 100px
        height: 100px
      div:after,
      div:before
        position: absolute
        top: 24px
        content: ""
        display: block
        width: 0
        height: 2px
        background-color: #fff
      div:after
        transform: rotate(45deg)
      div:before
        transform: rotate(-45deg)
    .close[data-state="true"]
      animation: close_show 0.5s ease 0s forwards
      div:after
        animation: close_btn_show 0.75s ease 0.0s forwards
      div:before
        animation: close_btn_show 0.75s ease 0.2s forwards

    .scroll-icon
      position: absolute
      bottom: 170px
      left: 50%
      margin-left: -30px
      width: 60px
      height: 100px
      border-radius: 40px
      border: solid 8px #fff
      box-sizing: border-box
      box-shadow: 0 0 5px #777, 0 0 5px #777 inset

      div
        position: absolute
        top: 10px
        left: 10px
        opacity: 0
        width: 25px
        height: 25px
        border-radius: 50%
        background-color: #fff
        box-shadow: 0 0 5px #777
        animation: scroll_icon_sp 2s ease 0s infinite
  
  #header[data-state="true"]
    .main-visual
      animation: fadein 1s ease-out 2.3s forwards

      .bg
        animation: bg 5s ease 0s infinite

      .overray
        animation: main_visual_animate_sp 1.4s ease-out 2.3s forwards

      .logo

        .icon
          animation: fadein 0.75s ease 3.4s forwards

        .line:nth-child(1)
          animation: line1_sp 0.75s ease 3.4s forwards
        .line:nth-child(2)
          animation: line2_sp 0.75s ease 3.4s forwards
        .line:nth-child(3)
          animation: line3_sp 0.75s ease 3.4s forwards
        .line:nth-child(4)
          animation: line4_sp 0.75s ease 3.4s forwards
      
      .sns-box
        .sns-li:nth-child(1) .fa
          animation: sns_sp 0.75s ease 3.4s forwards
        .sns-li:nth-child(2) .fa
          animation: sns_sp 0.75s ease 3.5s forwards
      
      .sp-menu
        animation: sp_menu 0.75s ease 3.4s forwards
