@include sp-layout
  #load-view
    position: fixed
    width: 100%
    height: 100%
    z-index: 10

    .load-view
      position: absolute
      top: 0
      width: 100%
      height: 100%
      overflow: hidden

      div
        position: absolute
        background-size: cover
        background-position: center
        background-repeat: no-repeat
      
      .progress-bar
        position: absolute
        top: 50%
        left: 0
        margin-top: -2.5px
        width: 100%
        height: 5px
        background-color: #eee

        .bar
          position: absolute
          top: 0
          left: 0
          width: 0%
          height: 5px
          background-color: #619EC8
          transition: all 0.5s ease 0s

      .logo
        position: absolute
        top: 50%
        left: 50%
        margin-left: -150px
        margin-top: -150px
        width: 300px
        height: 300px
        background-color: rgba(255,255,255,0.3)
        background-image: url(../images/tenshi.png)
        background-size: 100%
        background-position: center
        background-repeat: no-repeat

    .load-view-mask
      background-color: rgba(0,0,0,0.1)
    .load-view-0
      background-color: #fff
    .load-view-1 div
      background-image: url(../images/main-visual/sp_1.jpg)
    .load-view-2 div
      background-image: url(../images/main-visual/sp_2.jpg)
    .load-view-3 div
      background-image: url(../images/main-visual/sp_3.jpg)
    .load-view-4 div
      background-image: url(../images/main-visual/sp_4.jpg)

  
  #load-view[data-state="true"]
    animation: slide_close 0.75s ease 2.5s forwards

    .load-view-0
      animation: slide_close 0.75s ease 0s forwards
    .load-view-1
      animation: slide_close 0.75s ease 0.5s forwards
    .load-view-2
      animation: slide_close 0.75s ease 1s forwards
    .load-view-3
      animation: slide_close 0.75s ease 1.5s forwards
    .load-view-4
      animation: slide_close 0.75s ease 2s forwards
