#appliaction {
	width: 100%;
	min-width: 1100px;
}

/**
 * header
 */
#header { 
	position: relative;
}

#header .left {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
	display: table;
	background-color: #ED6D7A;
}
#header .left .inner {
	display: table-cell;
	vertical-align: middle;
}
#header .left .inner .box {
	display: block;
	margin: 0 auto;
	width: 350px;
}
.logo {
	display: block;
	margin: 0 auto;
	width: 200px;
	animation: heart 3s ease 0s infinite;
}
.sns {
	margin: 0 auto;
	width: 300px;
}
.sns:after {
	content: "";
	display: block;
	clear: both;
}
.sns section {
	float: left;
	width: 100px;
	height: 70px;
	margin-top: 20px;
}
.sns section .icon {
	width: 100%;
	height: 50px;
	background-size: auto 70%;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	display: block;
	transition: all 0.5s ease 0s;
}
.sns section .bar {
	width: 100%;
	height: 10px;
}
.sns .twitter .icon {
	background-image: url(../images/contact/twitter.png);
}
.sns .twitter .icon:hover {
	background-color: #66D0DC;
}
.sns .github .icon {
	background-image: url(../images/contact/github.png);
}
.sns .github .icon:hover {
	background-color: #F6BA4D;
}
.sns .qiita .icon {
	background-image: url(../images/contact/qiita.png);
}
.sns .qiita .icon:hover {
	background-color: #9FE39B;
}
.sns .twitter .bar {
	background-color: #66D0DC;
}
.sns .github .bar {
	background-color: #F6BA4D;
}
.sns .qiita .bar {
	background-color: #9FE39B;
}
.copyright {
	font-size: 12px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
}
.scroll {
	width: 90px;
	margin: 0 auto;
	margin-top: 30px;
}
.scroll:after {
	content: "";
	display: block;
	clear: both;
}
.scroll section {
	float: left;
	width: 30px;
	height: 40px;
	background-image: url(../images/scroll.png);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat; 
	animation: scroll 3s ease 0s infinite;
}
@keyframes heart {
	0%   { transform: scale(0.9); }
	50%  { transform: scale(1); }
	100% { transform: scale(0.9); }
}
@keyframes scroll {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
#header .right {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background-color: #F7CED6;
	background-image: url(../images/bg.png);
}
#header .right .character {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/char.png);
	background-size: auto 90%;
	background-position: center bottom;
	background-repeat: no-repeat;
}

/**
 * content
 */
#content {
	width: 100%;
}
#content .area-title {
	font-size: 50px;
	text-align: center;
	color: #fff;
	font-weight: normal;
}
#content .area-desc {
	font-size: 14px;
	text-align: center;
	color: #fff;
	margin-bottom: 5px;
	font-weight: normal;
	margin-bottom: 30px;
}

/**
 * profile
 */
#profile {
	padding: 50px 0;
	background-color: #F6BA4D;
}
#profile .inner {
	width: 1100px;
	margin: 0 auto;
}
#profile .inner:after {
	content: "";
	display: block;
	clear: both;
}
#profile .left {
	position: relative;
	float: left;
	width: 600px;
	height: 600px;
	overflow: hidden;
}
#profile .left .box {
	position: absolute;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
#profile .left .box h3 {
 font-size: 16px;
 color: #fff;
 box-sizing: border-box;
 padding: 0 10px;
 margin-top: 10px;
}
#profile .left .box p {
 font-size: 12px;
 color: #fff;
 box-sizing: border-box;
 padding: 0 15px;
 margin-top: 10px;
}
#profile .left .box-1 {
	top: 0; left: 0;
}
#profile .left .box-2 {
	top: 0; right: 0;
}
#profile .left .box-3 {
	top: 200px; left: 200px;
}
#profile .left .box-3 .thumb {
	width: 125px;
	height: 125px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
}
#profile .left .box-3 .name {
	font-size: 16px;
	text-align: center;
	width: 125px;
	margin: 10px auto;
	color: #444;
	box-sizing: border-box;
	background-color: #FFFAC0;
	border-radius: 5px;
}
#profile .left .box-4 {
	top: 400px; left: 0px;
}
#profile .left .box-5 {
	top: 400px; right: 0;
}

#profile .right {
	float: right;
	width: 450px;
	height: 600px;
	background-image: url(../images/profile/char.png);
	background-size: 100% auto;
	background-position: center bottom;
	background-repeat: no-repeat;
}

/**
 * product
 */
#product {
	padding: 50px 0;
	background-color: #80ABE8;
}
#product .inner {
	width: 1100px;
	margin: 0 auto;
}
#product .inner:after {
	content: "";
	display: block;
	clear: both;
}

.product-li {
	float: left;
	width: 350px;
	height: 460px;
	display: block;
	margin-top: 30px;
	margin-right: 25px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: all 0.3s ease 0s;
}
.product-li:nth-child(3n) {
	margin-right: 0;
}
.product-li:hover {
	transform: rotate(2.5deg);
	box-shadow: 0 0 30px rgba(0,0,0,0.8);
}
.product-li img {
	width: 350px;
	display: block;
}
.product-li h3 {
	font-size: 26px;
	color: #4c4c4c;
	margin-top: 5px;
	border-bottom: solid 1px #ccc;
	padding: 0 10px;
	box-sizing: border-box;
}
.product-li h4 {
	font-size: 14px;
	text-align: right;
	color: #4c4c4c;
	margin: 5px 0;
	padding: 0 10px;
	box-sizing: border-box;
}
.product-li p {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;
}

/**
 * activity
 */
#activity {
	padding: 50px 0;
	background-color: #B36F9E;
}
#activity .inner {
	width: 1100px;
	margin: 0 auto;
}
#activity .inner:after {
	content: "";
	display: block;
	clear: both;
}
.activity-li {
	float: left;
	width: 350px;
	height: 460px;
	display: block;
	margin-top: 30px;
	margin-right: 25px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: all 0.3s ease 0s;
}
.activity-li:nth-child(3n) {
	margin-right: 0;
}
.activity-li:hover {
	transform: rotate(2.5deg);
	box-shadow: 0 0 30px rgba(0,0,0,0.8);
}
.activity-li img {
	width: 350px;
	display: block;
}
.activity-li h3 {
	font-size: 26px;
	color: #4c4c4c;
	margin-top: 5px;
	border-bottom: solid 1px #ccc;
	padding: 0 10px;
	box-sizing: border-box;
}
.activity-li p {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;
}
