/**
 *
 * @author yuki540
 * infomation.css
 *
 */
@import screen and (min-width: 481px);
 
#infomation {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 -5px 20px #ccc;
}
.info-box {
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

/*** art-hatiman ***/
.info-box .art-hatiman {
	position: absolute;
	top: 0;
	left: 250px;
	width: 500px;
	height: 500px; 
	margin: 0 auto;
}
.info-box .art-hatiman .art-li {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%; 
	opacity: 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/*** serif ***/
.info-box .serif {
	position: absolute;
	top: 200px;
	right: 50px;
	font-weight: normal;
	font-size: 24px;
	color: #666;
}

/*** content-name ***/
.info-box .content-name {
	position: absolute;
	left: 20px;
	bottom: 100px;
	width: 350px;
}
.content-name h2 {
	font-size: 16px;
	color: #666;
	font-weight: normal;
	border-bottom: solid 1px #e0e0e0; 
}
.content-name p {
	font-size: 12px;
	text-align: right;
	color: #888;
}

/*** staff_a ***/
.info-box .staff_a {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 250px;
	padding: 10px;
	font-size: 14px;
	color: #666;
	border: solid 1px #e0e0e0;
}
.staff-li {
	width: 100%;
}
.staff-li .staff-job {
	float: left;
	width: 70%;
}
.staff-li .staff-name {
	float: right;
	width: 30%;
}

/*** staff_b ***/
.info-box .staff_b {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 250px;
	padding: 10px;
	font-size: 14px;
	color: #666;
	border: solid 1px #e0e0e0;
}




