@import screen and (min-width: 481px);

a {
	cursor: pointer;
}

#application {
	min-width: 1100px;
}

/**
 * header
 */
#header {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 40px;
	background-color: #222;
	z-index: 10;
}
#header .inner {
	width: 1100px; height: 40px;
	margin: 0 auto;
}
#header .inner:after {
	content: ""; clear: both; display: block;
}

/*** logo ***/
#logo {
	float: left;
	display: block;
	width: 200px; height: 40px;
}
#logo img {
	height: 30px;
	display: block;
	margin: 5px auto;
}

/*** global-nav ***/
#global-nav {
	float: right;
	width: 400px; height: 40px;
}
#global-nav:after {
	content: ""; display: block; clear: both;
}
#global-nav .nav-li {
	float: left;
	width: 80px; height: 40px;
	font-size: 12px; line-height: 40px;
	color: #aaa; text-align: center;
	display: block;
	transition: all 0.3s ease 0s;
}
#global-nav .nav-li:hover {
	color: #fff;
	background-color: #000;
}

/**
 * content
 */
#content {
	width: 100%;
}
#content .inner {
	margin-top: 540px;
	padding-top: 20px;
}

/*** area ***/
#content .area {
	width: 1100px;
	margin: 0 auto;
	margin-top: 100px;
}
#content .area .area-title {
	font-size: 50px; color: #4c4c4c;
	text-align: center; font-weight: normal;
}
#content .area .area-description {
	font-size: 16px; color: #888;
	text-align: center; font-weight: normal;
}
#content .area .inner {
	margin-top: 30px;
}
#content .area .inner:after {
	content: ""; display: block; clear: both;
}
.content-li {
	float: left;
	width: 350px; height: 500px;
	display: block;
	transition: all 0.3s ease 0s;
	margin-top: 30px;
	margin-right: 25px;
}
.content-li:nth-child(3n) {
	margin-right: 0px;
}
.content-li:hover {
	opacity: 0.8;
	transform: scale(0.95);
}
.content-li img {
	width: 350px;
	display: block;
	box-sizing: border-box;
	border: solid 1px #ccc;
}
.content-li .content-li-title {
	font-size: 26px;
	color: #4c4c4c; margin-top: 5px;
	border-bottom: solid 1px #4c4c4c;
}
.content-li .content-li-catchcopy {
	font-size: 14px; text-align: right;
	color: #4c4c4c;
	margin: 5px 0;
}
.content-li .content-li-description {
	font-size: 14px;
	color: #999; margin-top: 10px;
	line-height: 26px;
}

/*** main-visual ***/
#main-visual {
	position: fixed;
	top: 40px;
	left: 0;
	width: 100%; height: 500px;
	background-image: url(/images/main_visual/1.jpg);
	background-size: cover;
	background-position: center;
	z-index: -5;
}

#main-visual #link {
	font-size: 16px; color: #fff;
	text-align: center; line-height: 40px;
	width: 180px; height: 40px;
	display: block; border-radius: 5px;
	background-color: #EA3866;
	margin: 0 auto;
	transition: all 0.3s ease 0s;
}
#main-visual #link:hover {
	transform: scale(1.1);
}

/*** profile ***/
#profile .inner {
	margin-top: 30px;
}

#profile .left,
#profile .center,
#profile .right {
	float: left;
	width: 350px; height: 350px;
	margin-right: 25px;
}
#profile .right {
	margin-right: 0;
}

/* left */
#profile .left .icon {
	position: relative;
	width: 350px; height: 350px;
	background-image: url(/images/profile/yuki540.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	box-sizing: border-box;
	border: solid 1px #4c4c4c;
}
#profile .left .icon .location,
#profile .left .icon .fullname,
#profile .left .icon .name {
	position: absolute;
	font-size: 14px;
	height: 30px; line-height: 30px;
	background-color: #4c4c4c;
	color: #fff; padding: 0 10px;
}
#profile .left .icon .location {
	top: 0; left: 0;
}
#profile .left .icon .fullname { 
	bottom: 0; right: 0;
}
#profile .left .icon .name { 
	bottom: 31px; right: 0;
}

/* center */
#profile .center {
	border-left: solid 5px #4c4c4c;
	box-sizing: border-box;
}
#profile .center .status {
	margin-bottom: 10px;
}
#profile .center .status .tag,
#profile .center .status .val {
	color: #fff;
	font-size: 12px; display: inline-block;
	padding: 0 10px;
	height: 30px; line-height: 30px;
}
#profile .center .status .tag {
	background-color: #4c4c4c;
}
#profile .center .status .val {
	margin-left: 5px;
	background-color: #EB3867;
}

/* right */
#profile .right {}
#profile .right .about {
	font-size: 18px; text-align: center;
	background-color: #4c4c4c;
	color: #fff; padding: 5px 10px;
	margin-bottom: 10px;
}
#profile .right .story {
	font-size: 18px;
	color: #fff;
	line-height: 25px;
	background-color: #888;
}

/*** news ***/
#news .inner {
	width: 600px;
	margin: 30px auto;
	border-left: solid 10px #ccc;
	box-sizing: border-box;
	padding: 30px 0;
}
#news .news-li,
#news .news-link {
	font-size: 16px;
	padding-left: 30px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
	display: block;
}
#news .news-link { 
	color: rgb(0,150,255); 
	text-decoration: underline;
}

/*** contact ***/
#contact .sns {
	width: 440px;
	margin: 30px auto;
}
#contact .sns:after {
	content: ""; display: block; clear: both;
}
#contact .sns .sns-li {
	float: left;
	width: 80px; height: 80px;
	margin-right: 10px;
	background-size: 100%;
	background-position: center;
	transition: all 0.3s ease 0s;
}
#contact .sns .sns-li:last-child {
	margin: 0;
}
#contact .sns .sns-li:hover {
	transform: scale(1.1);
}
.github { background-image: url(../../images/contact/github.png); }
.twitter { background-image: url(../../images/contact/twitter.png); }
.npm { background-image: url(../../images/contact/npm.png); }
.qiita { background-image: url(../../images/contact/qiita.png); }
.niconico { background-image: url(../../images/contact/niconico.png); }

/**
 * footer
 */
#footer {
	width: 100%;
	padding: 50px 0;
	background-color: #222;
}
#footer p {
	font-size: 16px;
	color: #fff;
	text-align: center;
}
